@import url("../style.css");

.container {
    height: 100vh;
}

.header,
.content {
    width: var(--width);
    padding: var(--medium);
}

.header .icon {
    width: var(--medium);
    height: var(--medium);
}

.header {
    color: var(--white-100);
}
