@import url("../style.css");

.container {
    height: 100vh;
}

.header,
.content {
    width: var(--width);
    padding: var(--medium);
}

.header .icon {
    width: var(--medium);
    height: var(--medium);
}

.header {
    color: var(--white-100);
}

.option {
    position: relative;
    padding: var(--medium);
    background: var(--white-100);
    border: 1px solid var(--blue-300);
    border-radius: 8px;
}

.option ~ .input:checked {
    background: var(--blue-300);
}

.option .input {
    width: 32px;
}

.option label {
    color: var(--blue-300);
}

.option input:checked {
    background: var(--blue-300);
}

.password {
    position: relative;
}

#eye {
    position: absolute;
    right: 0;
    width: 24px;
    height: 24px;
    padding: var(--medium) var(--large);
    color: transparent;
    stroke: var(--black-100);
    stroke-width: 12px;
    cursor: pointer;
}

#eye.active {
    stroke-width: 0;
    stroke: none;
    color: var(--black-100);
}
