@import url("../style.css");

.container {
    height: 100vh;
}

.header,
.content {
    width: var(--width);
    padding: var(--medium);
}

.header .icon {
    width: var(--medium);
    height: var(--medium);
}

.header {
    color: var(--white-100);
}

.option {
    height: 100px;
}

.option [type="radio"] {
    display: none;
}

.option label {
    padding: var(--medium);
    width: 100%;
    position: relative;
    background: var(--white-100);
    color: var(--blue-300);
    border: 1px solid var(--blue-300);
    border-radius: 8px;
}

.option input:checked {
    background: var(--blue-300);
}
