:root {
    --white-100: #fff;
    --white-200: #f7f7f7;
    --black-100: #222;
    --black-200: #222222bf;
    --black-300: #2222221a;
    --black-400: #2c3333;
    --green-100: #e7f6f2;
    --green-200: #a5c9ca;
    --green-300: #395b64;
    --blue-100: #dfe3ee;
    --blue-200: #aac4ff;
    --blue-300: #3b5998;
    --blue-400: #8fbdd3;
}
