<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="test.css" />
        <title>Document</title>
    </head>
    <body>
        <section class="container">
            <header class="header">
                <div class="logoBx">
                    <span class="icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="32"
                            height="32"
                            fill="currentColor"
                            class="bi bi-facebook"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                            />
                        </svg>
                    </span>
                    <div class="searchBx">
                        <div class="fieldBx">
                            <input type="text" class="field" />
                        </div>
                        <div class="iconBx">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="currentColor"
                                class="bi bi-search"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                                />
                            </svg>
                        </div>
                    </div>
                </div>
                <ul class="navigationBx">
                    <li class="list active">
                        <a href="#" class="link">
                            <span class="icon"
                                ><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-house-door-fill"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"
                                    />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="link">
                            <span class="icon">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-people-fill"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                                    />
                                    <path
                                        fill-rule="evenodd"
                                        d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"
                                    />
                                    <path
                                        d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"
                                    />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="link">
                            <span class="icon"
                                ><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-tv-fill"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM2 2h12s2 0 2 2v6s0 2-2 2H2s-2 0-2-2V4s0-2 2-2z"
                                    />
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="link">
                            <span class="icon">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-bag-fill"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"
                                    />
                                </svg>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="profileBx">
                    <div class="profile-photo">
                        <img src="/public/assets/img/photo.jpg" class="photo" />
                    </div>
                </div>
            </header>
            <nav class="activitiesBx">
                <ul class="activities">
                    <li class="list">
                        <a href="" class="link">
                            <span class="icon">
                                <img
                                    src="/public/assets/img/photo.jpg"
                                    class="photo"
                                />
                            </span>
                            <span class="title">Kevin</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="" class="link">
                            <span class="icon">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-people-fill"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                                    />
                                    <path
                                        fill-rule="evenodd"
                                        d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"
                                    />
                                    <path
                                        d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"
                                    />
                                </svg>
                            </span>
                            <span class="title">Find The Friend</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="" class="link">
                            <span class="icon"
                                ><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-person-workspace"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"
                                    />
                                    <path
                                        d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"
                                    />
                                </svg>
                            </span>
                            <span class="title">Group</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="" class="link">
                            <span class="icon">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-handbag-fill"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M8 1a2 2 0 0 0-2 2v2H5V3a3 3 0 1 1 6 0v2h-1V3a2 2 0 0 0-2-2zM5 5H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11v1.5a.5.5 0 0 1-1 0V5H6v1.5a.5.5 0 0 1-1 0V5z"
                                    />
                                </svg>
                            </span>
                            <span class="title">Marketplace</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="" class="link">
                            <span class="icon">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-memory"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.586a1 1 0 0 0 .707-.293l.353-.353a.5.5 0 0 1 .708 0l.353.353a1 1 0 0 0 .707.293H15a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1Zm.5 1h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm5 0h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm4.5.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4ZM2 10v2H1v-2h1Zm2 0v2H3v-2h1Zm2 0v2H5v-2h1Zm3 0v2H8v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Z"
                                    />
                                </svg>
                            </span>
                            <span class="title">Memories</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="" class="link">
                            <span class="icon">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-save-fill"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"
                                    />
                                </svg>
                            </span>
                            <span class="title">Save</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="" class="link">
                            <span class="icon">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    class="bi bi-collection-play-fill"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm6.258-6.437a.5.5 0 0 1 .507.013l4 2.5a.5.5 0 0 1 0 .848l-4 2.5A.5.5 0 0 1 6 12V7a.5.5 0 0 1 .258-.437z"
                                    />
                                </svg>
                            </span>
                            <span class="title">Watch</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <main class="contentBx">
                <div class="cardBx">
                    <div class="card-content">
                        <div class="profile-card">
                            <div class="profileBx">
                                <img
                                    src="/public/assets/img/photo.jpg"
                                    class="photo"
                                />
                                <div class="name-card">
                                    <h4 class="name">Kevin</h4>
                                    <h6 class="datetime">
                                        16 September pukul 08.00
                                    </h6>
                                </div>
                            </div>
                            <div class="menuBx">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="card-image">
                            <img
                                src="/public/assets/img/banner2.jpg"
                                class="photo"
                            />
                        </div>
                        <div class="react-card">
                            <div class="react">
                                <div class="likeBx">
                                    <span class="icon">
                                        <img
                                            src="/public/assets/img/like-16x16-1991059.png"
                                        />
                                    </span>
                                    <span class="like">442</span>
                                </div>
                                <div class="commentBx">
                                    <span class="comment">10 Comments</span>
                                </div>
                            </div>
                            <div class="actionBx">
                                <div class="like">
                                    <span class="icon"></span>
                                    <span class="like"></span>
                                </div>
                                <div class="comment">
                                    <span class="icon"></span>
                                    <span class="comment"></span>
                                </div>
                                <div class="share">
                                    <span class="icon"></span>
                                    <span class="share"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>
        <script>
            const icon = document.querySelector(".iconBx");
            const search = document.querySelector(".searchBx");

            icon.onclick = function () {
                search.classList.toggle("active");
            };

            const list = document.querySelectorAll(".navigationBx .list");

            function getList() {
                list.forEach((item) => item.classList.remove("active"));
                this.classList.add("active");
            }

            list.forEach((item) => item.addEventListener("click", getList));
        </script>
    </body>
</html>
